*{
	margin:0;
	padding:0;
}
html,body{
	font-size:10px;
	font-weight:500;
}
body{
	overflow-x:hidden;
}
header,main,footer{
	display:block;
}
header{
	position:fixed;
	z-index:1;
	height:4rem;
	width:100vw;
	background:rgb(95,192,205);
	text-align:center;
    line-height:4rem;
	font-size:1.6rem;
	color:#fff;
}
.img_1{
	height:4rem;
	float:left;
}
main{
	position:absolute;
	top:3.9rem;
	overflow-y:auto;
	height:48rem;
}
.box_1{
	height:16rem;
	position:relative;
}
.img_2{
	height:15rem;
	width:100vw;
}
.img_3{
	position:absolute;
	top:4.5rem;
	left:1.8rem;
	height:7.5rem;
	width:7.5rem;
}
.box_2{
	position:absolute;
	top:6rem;
	left:11rem;
	font-size:1.4rem;
	color:#fff;
}
.text_2{
	margin-right:0.7rem;
}
.box_3{
	position:absolute;
	color:#fff;
	top:8.5rem;
	left:11rem;
	font-size:1.2rem;
	font-weight:2rem;
	letter-spacing:0.2rem;
}
.img_4{
	height:1.3rem;
	margin-bottom:-0.2rem;
	margin-right:0.4rem;
}
.box_4{
	height:5rem;
	line-height:5rem;
	font-size:1.2rem;
	border-style:solid;
	border-width: 0 0 .1rem 0;
    border-color:rgb(225,229,231);
}
.photo_1{
	display:inline-block;
	width:.3rem;
	height:1.2rem;
	background:rgb(95,192,205);
	margin:1rem .5rem -.2rem 1rem;
}
.box_5,.box_6,.box_7{
	height:5rem;
	line-height:5rem;
	font-size:1.2rem;
}
.img_5{
	height:2rem;
	margin: 0 0 -.6rem 2rem; 

}
.img_6{
	height:2rem;
	margin: 0 0 -.6rem 1rem;
}
.box_6{
    border-style:solid;
	border-width: .1rem 0;
	border-color:rgb(225,229,231) #fff;
	margin: 0 1rem 0 1rem;
}
.text_4{
	margin:0 1rem;
	color:rgb(153,153,153);
}
.photo_2{
	display:inline-block;
	width:.15rem;
	height:2rem;
	background:rgb(225,229,231);
	margin:1rem 1rem -0.5rem .5rem;
}
.box_7{
	margin: 0 1rem;
}
.text_5{
	color:rgb(226,97,99);
}
.box_8{	
	position:relative;
    border-style:solid;
	border-width: 0 0 .1rem ;
	border-color:rgb(225,229,231) #fff;
	margin:0 1rem 2rem 1rem;
	height:auto;
}
.box_8-1{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	left:;
	height:5rem;
    width:8rem;
    font-size:1.2rem;
    color:rgb(153,153,153);
    display:inline-block;
}
.text_6{
	display:inline-block;
	margin:1rem 1rem;
}
.photo_3{
	display:inline-block;
	width:.15rem;
	height:2rem;
	background:rgb(225,229,231);
	margin:0 0 -0.5rem 0.5rem;
    align-self:center;
}
.box_8-2{
    line-height:2rem;
    margin:1.5rem 0 1.5rem 9.5rem;
}
.text_7{
	font-size:1.2rem;
}
footer{
	position:fixed;
	bottom:0;
	background:#fff;
	width:100vw;
	height:7.5rem;

}
.submit_1,.submit_2{
	display:inline-block;
    width:47%;   
    height:5rem;
    font-size:1.6rem;
    border:.4rem;
    border:solid;
	border-radius:0.7rem;
}
.submit_1{
	float:left;
	background:#fff;
	color:rgb(95,192,205);	
	border-color:rgb(95,192,205);
	margin:1.2rem 0 1.2rem 2%;
}
.submit_2{
	float:right;
	background:rgb(95,192,205);
	color:#fff;
	border-color:rgb(95,192,205);
	margin:1.2rem 2%;
}