*{
	margin:0;
	padding:0;
	border:0;
}
html,body{
	background:rgb(239,240,244);
	height:auto;
	width:auto;
	font-size:16px;
}
header{
	position:fixed;
	z-index:1;
	height:2.5rem;
	font-size:1.2rem;
}
.signin_2,header{
	background:rgb(95,192,205);
	color:white;
	width:100vw;
	text-align:center;
}
span{
    line-height:2.5rem;
}
.register{
    position:absolute;
    left:0.7rem;
    font-size:1rem;
}
.signin_1{
	letter-spacing:0.15rem;
	font-size:1.11rem;
}
.close{
	position:absolute;
	right:0.7rem;
	font-size:1rem;
}
form{
	padding-top:2.5rem;
}
.box_1,.box_2{
	display:flex;
	flex-direction:row;
	margin:0.5rem 0;
	width:100vw;
	background:#fff;
}
img{
	margin:0 1rem 0 0;
	height:3rem;
	width:4rem;

}
.input_1,.input_2{
    border:none;
	height:3rem;
	width:20rem;
	font-weight:600;
	font-size:1rem;
	outline-color:#fff;
}
.signin_2{
    height:2.8rem;
    font-size:1.22rem;
    letter-spacing:1.5rem;
}
a{
    float:right;
	color:rgb(95,192,205);
	margin:0.6rem;
	font-size:0.8rem;
}
